body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}
h1{
  text-align: center;
}

#pokelist{
  display: block;
  width: 700px;
  margin: 0 auto;
}

div.poke{
  height: 120px;
  width: 120px;
  display: inline-block;
  text-align: center;
  background-color: #ffb2b2;
  border: black solid 2px;
  border-radius: 5px;
  margin: 5px;
}
